*{
    margin: 0;
    padding: 0;
}
.card_container {
    display: flex;
    height: 70vh;
    padding-top: 5%;
    width: 100vw;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    

    
    
    overflow: hidden;
   



}

.card {
    position: relative;
    height: 70vh;
    box-sizing: border-box;
    
    
  




}

.card img {

    position: relative;
    width: 10vw;
    height: 70vh;
    border-radius: 25px;
    transition-duration: 400ms;
    transition-property: width;
    transition-timing-function: ease-in;
    
    


}
.text {
    position: absolute;
    top:100%;  /* Instead of top: 100% */
    left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: all 350ms ease-out;
}

.overview {
    position: absolute;
    top: 100%;
    
    color: rgb(247, 238, 238);

    padding: 3px;
    transition: all 350ms ease-out;

    
}
    
    




.card.activePanel .text {
    top:55%;
    
}
.card.activePanel .overview {
   
    top:70%;
    
}

.card.activePanel img {
    width: 40vw;
    
    




}